/* Header */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;

}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Navigation */
.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .navigation a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
}

.navigation a:hover {
    color: #666;
} */

.home {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

.login {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
}

.mainSection {
    display: flex;
    flex-direction: row;
    padding: 20px;


}

.leftSide {
    flex: 1;
}

.rightSide {
    flex: 1;
}

h2 {
    font-size: 4rem;
    text-align: start;
}

.text {
    font-size: 2.5rem;
    text-align: start;
    font-weight: 200;
    color: gray
}

.btn {
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    /**/

}

button {

    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #7149C6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.free {
    text-align: start;
}

/* Mobile menu toggle */
.mobileMenuToggle {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    * {
        box-sizing: border-box;
    }

    /* Mobile menu toggle */
    .mobileMenuToggle {
        display: block;
    }

    /* Navigation */
    .navigation {
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        display: none;

        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        z-index: 1;
        /* height:500px; */

    }

    .showMenu {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: column;

    }

    .home {
        display: flex;
        flex-direction: column;

    }

    .login {
        display: flex;
        flex-direction: column;

    }

    /* .navigation a {
        margin: 10px 0;
        font-size: 18px;
        font-weight: bold;
    } */

    /* Section below header */
    .mainSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .leftSide {
        margin-bottom: 50px;
        text-align: center;
    }

    .leftSide h2 {
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: bold;
    }

    .leftSide p {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1.5;
    }

    .leftSide button {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #333;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .leftSide button:hover {
        background-color: #666;
    }

    .rightSide img {
        max-width: 100%;
        height: auto;
    }
}


/*  */


@media screen and (max-width: 1024px) {
    .container {

        max-width: 1400px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 720px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        max-width: 1400px;
        padding: 0 40px;
    }
}

@media screen and (max-width:320px) {
    h2 {
        font-size: .5rem;
    }

}